/WordReadWrite/build/
/WordReadWrite/nbproject/private/
/UTS_DimasIbnuMalik_1855201002/nbproject/private/
/UTS_DimasIbnuMalik_1855201002/build/
/KartikaDewi_185521069/nbproject/private/
/KartikaDewi_185521069/build/
/ImageProcessing/nbproject/private/
/ImageProcessing/build/
/ImageProcessing/dist/
/Database/nbproject/private/
/Database/build/
/DataPegawai/nbproject/private/